h1{
color:gold; background-color:chocolate;}

.following{
    color:red;
    text-align:right;
}

.header a{
    font-size:20px;
}

.grid{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    background-color: aqua;
}

.footer{
    display:flex;
    flex-wrap:wrap;
    justify-content:flex-end;
    background-color:blanchedalmond;
}